# encoding: utf-8

<% render_header -%>
<%- content_for(:header) do -%>
  <%= stylesheet_link_tag 'tax_divisions' %>
<%- end -%>

    <nav id="subNav">
      <div class="inner">
        <ul id="localNav">
          <li class="current">
            <%= link_to "#{t('web-app-theme.list', :default => 'List')}", admin_tax_divisions_path %>
          </li>
          <li>
            <%= link_to "#{t('web-app-theme.new', :default => 'New')}", new_admin_tax_division_path %>
          </li>
        </ul>
      </div><!-- /.inner -->
    </nav><!-- /#subNav -->
    
    <% render_menu -%>
    
    <section id="content">
      <div class="inner">
        <div class="flash">
          <% flash.each do |type, message| -%>
            <div class="message <%= type %>">
              <% if message.is_a?(Enumerable) && message.any? -%>
                <ul>               
                <% message.each do |msg| -%>
                  <li><%= msg %></li>
                <% end -%>
                </ul>
              <% else -%>
                <p><%= message %></p>
              <% end -%>
            </div>
          <% end -%>
        </div>
        
        <header class="pageHeader">
          <h1><%= t('common_label.listing_model', :model => t('activerecord.models.tax_divisions')) %></h1>
        </header>
       
        <div class="list">
          <table border="1" class="tablesorter">
            <thead>
              <tr>
                <th scope="col" class="view-order">
                  <%= t('activerecord.attributes.tax_division.view_order')  %>
                </th>
                <th scope="col" class="name">
                  <%= t('activerecord.attributes.tax_division.name') %>
                </th>
                <th scope="col" class="type">
                  <%= t('activerecord.attributes.tax_division.tax_type_name') %>
                </th>
                <th scope="col" class="rate">
                  <%= t('activerecord.attributes.tax_division.tax_rate') %>
                  <%= t('common_label.percent') %>
                </th>
                <th scope="col" class="link">
                  &nbsp;
                </th>
              </tr>
            </thead>
            <tbody>
              <% @tax_divisions.each do |tax_division| -%>
                <tr>
                  <th scope="row" class="view-order">
                    <%= tax_division.view_order %>
                  </th>
                  <td>
                    <%= link_to tax_division.name, admin_tax_division_path(tax_division) %>
                  </td>
                  <td>
                    <%= tax_type_indication(tax_division.tax_type_cd) %>
                  </td>
                  <td class="rate">
                    <%= tax_division.tax_rate %>
                  </td>
                  <td>
                    <%= link_to "#{t('web-app-theme.show', :default => 'Show')}", admin_tax_division_path(tax_division) %> |
                    <%= link_to "#{t('web-app-theme.edit', :default => 'Edit')}", edit_admin_tax_division_path(tax_division) %>
                    <% unless TaxDivision.project_tax_division_id?(tax_division.id) ||
                        TaxDivision.expense_type_tax_division_id?(tax_division.id) ||
                        TaxDivision.expense_tax_division_id?(tax_division.id) %>
                       |
                      <%= link_to "#{t('web-app-theme.delete', :default => 'Delete')}",
                          admin_tax_division_path(tax_division), :method => :delete,
                          :confirm => "#{t('web-app-theme.confirm', :default => 'Are you sure?')}" %>
                    <% end %>
                  </td>
                </tr>
              <% end -%>
            </tbody>
          </table>
        </div><!-- /.pjList -->
        
        <div class="actions-bar wat-cf">
          <div class="actions">
            <%= will_paginate @tax_divisions %>
          </div>
          <div style="clear:both;"></div>
        </div>
      </div><!-- /.inner -->
    </section><!-- /#content -->
