# encoding: utf-8

            <dl>
              <dt>
                <label for="view_order">
                  <%= t('activerecord.attributes.database.view_order') %><%= essential %>
                </label>
              </dt>
              <dd>
                <%= f.number_field :view_order, :class => 'number_field ime_off' %>
              </dd>
              
              <dt>
                <label for="name">
                  <%= t('activerecord.attributes.database.name') %><%= essential %>
                </label>
              </dt>
              <dd>
                <%= f.text_field :name, :class => 'text_field ime_on', :maxlength => '20', :style => 'width:200px;' %>
              </dd>
            </dl>
            
            <div class="button">
              <%= f.submit(t('web-app-theme.save', :default => 'Save')) %>
              <%= link_to(t('web-app-theme.cancel', :default => 'Cancel'), admin_databases_path,
                  :class => 'cancel') %>
            </div>
