# encoding: utf-8

<% render_main_header -%>
<%- content_for(:header) do -%>
  <%= stylesheet_link_tag "schedules" %>
<%- end -%>

    <nav id="subNav">
      <div class="inner">
        <ul id="localNav">
          <li>
            <%= link_to "#{t('web-app-theme.list', :default => 'List')}", schedule_schedules_path %>
          </li>
          <li>
            <%= link_to "#{t('label.menu.list_by_group', :default => 'List By Group')}", list_by_group_schedule_schedules_path %>
          </li>
          <li>
            <%= link_to "#{t('label.menu.list_by_project', :default => 'List By Project')}", list_by_project_schedule_schedules_path %>
          </li>
          <li>
            <%= link_to "#{t('web-app-theme.new', :default => 'New')}", new_schedule_schedule_path %>
          </li>
          <li>
            <%= link_to "#{t('web-app-theme.csv_new', :default => 'CSV New')}", schedule_csv_schedules_path %>
          </li>
          <li class="current">
            <%= link_to "#{t('label.schedule_reflection.label.result_bundle_reflect_menu')}",
              bundle_reflect_schedule_schedules_path('select_ids' => params[:select_ids]) %>
          </li>
        </ul>
      </div><!-- /.inner -->
    </nav><!-- /#subNav -->
    
    <section id="content">
      <div class="inner">
        <div class="flash">
          <% flash.each do |type, message| -%>
            <div class="message <%= type %>">
              <p><%= message %></p>
            </div>
          <% end -%>
        </div>
        <header class="pageHeader">
          <h1><%= t('label.schedule_reflection.label.result_bundle_reflect_menu') %></h1>
        </header>

        <div class="mul_list">
          <table border="1" class="tablesorter">
            <tbody>
              <% pre_schedule = nil -%>
              <% @schedules.each do |schedule| -%>
                <% if pre_schedule.nil? || pre_schedule.schedule_date.year != schedule.schedule_date.year || 
                  pre_schedule.schedule_date.month != schedule.schedule_date.month %>
                  <tr class="month_header">
                    <td scope="col" class="column1">
                      <%= ja_wm(schedule.schedule_date) %>
                    </td>
                    <td scope="col" class="column2">
                      <%= t('label.schedule_reflection.title.project_no') %>
                    </td>
                    <td scope="col" class="column3">
                      <%= t('activerecord.attributes.project.name') %>
                    </td>
                    <td scope="col" class="column4">
                      <%= t('activerecord.models.work_type') %>
                    </td>
                    <td scope="col" class="column5">
                      <%= t('label.schedule_reflection.title.plan_time') %>
                    </td>
                    <td scope="col" class="column6">
                      <%= t('activerecord.attributes.schedule.auto_reflect') %>
                    </td>
                    <td scope="col" class="column7">
                      <%= t('label.schedule_reflection.select.member') %>
                    </td>
                    <td scope="col" class="column8">
                      <%= t('activerecord.attributes.schedule.notes') %>
                    </td>
                  </tr>
                <% end %>
                <% if schedule.reflected? %>
                <tr>
                <% else %>
                <tr class='not_reflected'>
                <% end %>
                  <td>
                    <%= l(schedule.schedule_date, :format => :local_date2) %>
                  </td>
                  <td>
                    <%= schedule.project.project_code %>
                  </td>
                  <td>
                    <%= schedule.project.name %>
                  </td>
                  <td>
                    <%= schedule.work_type_name %>
                  </td>
                  <td>
                    <%= format_plan_date(schedule.start_at, schedule.end_at) %>
                  </td>
                  <td>
                    <%= format_auto_reflect(schedule.auto_reflect) %>
                  </td>
                  <td>
                    <%= schedule_member_list(schedule) %>
                  </td>
                  <td>
                    <%= schedule.notes %>
                  </td>
                </tr>
                <% pre_schedule = schedule %>
              <% end %>
            </tbody>
          </table>
        </div><!-- /.pjList -->
      </div><!-- /.inner -->
    </section><!-- /#content -->
