# encoding: utf-8

<% render_main_header -%>
<%- content_for(:header) do -%>
  <%= stylesheet_link_tag "schedules" %>
  <%= stylesheet_link_tag 'fullcalendar' %>
<%- end -%>

    <nav id="subNav">
      <div class="inner">
        <ul id="localNav">
          <li>
            <%= link_to "#{t('web-app-theme.list', :default => 'List')}", schedule_schedules_path %>
          </li>
          <li>
            <%= link_to "#{t('label.menu.list_by_group', :default => 'List By Group')}", list_by_group_schedule_schedules_path %>
          </li>
          <li>
            <%= link_to "#{t('label.menu.list_by_project', :default => 'List By Project')}", list_by_project_schedule_schedules_path %>
          </li>
          <li>
            <%= link_to "#{t('web-app-theme.new', :default => 'New')}", new_schedule_schedule_path %>
          </li>
          <li>
            <%= link_to "#{t('web-app-theme.csv_new', :default => 'CSV New')}", schedule_csv_schedules_path %>
          </li>
          <li class="current">
            <%= link_to "#{t('web-app-theme.edit', :default => 'Edit')}", edit_schedule_schedule_path %>
          </li>
        </ul>
      </div><!-- /.inner -->
    </nav><!-- /#subNav -->
    
    <section id="content">
      <div class="inner">
        <header class="pageHeader">
          <h1><%= t('common_label.editing_model', :model => Schedule.model_name.human) %></h1>
        </header>

        <div id="pageContents">
          <%= render 'calendar_agenda' %>
          <div id="right">
            <%= form_for @schedule, :url => schedule_schedule_path(@schedule), :html => { :class => :form } do |f| -%>
              <%= render :partial => 'form', :locals => {:f => f} %>
            <% end -%>
          </div>
        </div>
      </div><!-- /.inner -->
    </section><!-- /#content -->
