# encoding: utf-8

<% render_header -%>
<%- content_for(:header) do -%>
  <%= stylesheet_link_tag 'operating_systems' %>
<%- end -%>

    <nav id="subNav">
      <div class="inner">
        <ul id="localNav">
          <li class="first">
            <%= link_to "#{t('web-app-theme.list', :default => 'List')}", admin_operating_systems_path %>
          </li>
          <li>
            <%= link_to "#{t('web-app-theme.new', :default => 'New')}", new_admin_operating_system_path %>
          </li>
          <li class="current">
            <%= link_to "#{t('web-app-theme.show', :default => 'Show')}", admin_operating_system_path %>
          </li>
        </ul>
      </div><!-- /.inner -->
    </nav><!-- /#subNav -->
    
    <% render_menu -%>
    
    <section id="content">
      <div class="inner">
        <div class="flash">
          <% flash.each do |type, message| -%>
            <div class="message <%= type %>">
              <% if message.is_a?(Enumerable) && message.any? -%>
                <ul>               
                <% message.each do |msg| -%>
                  <li><%= msg %></li>
                <% end -%>
                </ul>
              <% else -%>
                <p><%= message %></p>
              <% end -%>
            </div>
          <% end -%>
        </div>
        
        <header class="pageHeader">
          <h1><%= t('common_label.browsing_model', :model => OperatingSystem.model_name.human) %></h1>
          
          <ul class="utilityNav">
            <li class="csv">
              <%= link_to "#{t('web-app-theme.edit', :default=> 'Edit')}",
                  edit_admin_operating_system_path(@operating_system) %>
            </li>
            <li class="csv">
              <% unless OperatingSystem.project_operating_system?(@operating_system) %>
                <%= link_to "#{t('web-app-theme.delete', :default=> 'Delete')}",
                    admin_operating_system_path(@operating_system), :method => :delete,
                    :confirm => "#{t('web-app-theme.confirm', :default => 'Are you sure?')}" %>
              <% end %>
            </li>
          </ul>
        </header>
        
        <div class="data">
          <dl>
            <dt>
              <%= t('common_label.id') %>
            </dt>
            <dd>
              <%= @operating_system.id %>
            </dd>
            
            <dt>
              <%= t('activerecord.attributes.operating_system.view_order') %>
            </dt>
            <dd>
              <%= @operating_system.view_order %>
            </dd>
            
            <dt>
              <%= t('activerecord.attributes.operating_system.name') %>
            </dt>
            <dd>
              <%= @operating_system.name %>
            </dd>
            
            <dt>
              <%= t('common_label.created_at') %>
            </dt>
            <dd>
              <%= localtime @operating_system.created_at %>
            </dd>
            
            <dt>
              <%= t('common_label.updated_at') %>
            </dt>
            <dd>
              <%= localtime @operating_system.updated_at %>
            </dd>
          </dl>
        </div><!-- /.pjData -->
      </div><!-- /.inner -->
    </section><!-- /#content -->
