# encoding: utf-8

<% render_header -%>
<%- content_for(:header) do -%>
  <%= stylesheet_link_tag 'messages' %>
<%- end -%>

    <nav id="subNav">
      <div class="inner">
        <ul id="localNav">
          <li>
            <%= link_to "#{t('web-app-theme.list', :default => 'List')}", admin_messages_path %>
          </li>
          <li class="current">
            <%= link_to "#{t('web-app-theme.new', :default => 'New')}", new_admin_message_path %>
          </li>
        </ul>
      </div><!-- /.inner -->
    </nav><!-- /#subNav -->
    
    <% render_menu -%>
    
    <section id="content">
      <div class="inner">      
        <header class="pageHeader">
          <h1><%= t('common_label.new_model', :model => Message.model_name.human) %></h1>
        </header>

        <%= form_for :message, :url => admin_messages_path, :html => { :class => :form } do |f| -%>
          <% unless flash.blank? -%>
            <div class="errorMsg">
              <% flash.each do |type, message| -%>
                <% if message.is_a?(Enumerable) && message.any? -%>
                  <ul>               
                  <% message.each do |msg| -%>
                    <li><%= msg %></li>
                  <% end -%>
                  </ul>
                <% else -%>               
                  <p><%= message %></p>
                <% end -%>                
                <% if @message.errors.any? -%>
                  <ul>
                  <% @message.errors.full_messages.each do |msg| -%>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                <% end %>
              <% end -%>
            </div>
          <% end %>
          
          <div class="entryForm">          
            <%= render :partial => 'form', :locals => {:f => f} %>
          </div><!-- /.entryForm -->
        <% end -%>
      </div><!-- /.inner -->
    </section><!-- /#content -->
