# encoding: utf-8

<% render_main_header -%>
<%- content_for(:header) do -%>
  <%= stylesheet_link_tag 'schedules' %>
<%- end -%>
    <nav id="subNav">
      <div class="inner">
       <ul id="localNav">
          <li>
            <%= link_to "#{t('web-app-theme.list', :default => 'List')}", schedule_schedules_path %>
          </li>
          <li>
            <%= link_to "#{t('label.menu.list_by_group', :default => 'List By Group')}", list_by_group_schedule_schedules_path %>
          </li>
          <li>
            <%= link_to "#{t('label.menu.list_by_project', :default => 'List By Project')}", list_by_project_schedule_schedules_path %>
          </li>
          <li>
            <%= link_to "#{t('web-app-theme.new', :default => 'New')}", new_schedule_schedule_path %>
          </li>
          <li class="current">
            <%= link_to "#{t('web-app-theme.csv_new', :default => 'CSV New')}", schedule_csv_schedules_path %>
          </li>
        </ul>
      </div><!-- /.inner -->
    </nav><!-- /#subNav -->

    <section id="content">
      <div class="inner">
        <div class="flash">
          <% flash.each do |type, message| -%>
            <div class="message <%= type %>">
              <p><%= message %></p>
            </div>
          <% end -%>
        </div>
        
        <header class="pageHeader">
          <h1><%= t('common_label.csv_new_model', :model => t('activerecord.models.schedules')) %></h1>
        </header>
        
        <div class='dataSearch file_upload'>
          <%= form_tag csv_data_create_schedule_csv_schedules_path, :multipart => true do -%>
            <table>
              <tr>
                <td><label for="file"><%= t('label.csv_file') %>：</label></td>
                <td ><%= file_field_tag "file", :accept => ".csv", :size => '50' -%></td>
                <td><%= submit_tag t('web-app-theme.csv_data_create') -%></td>
              </tr>
            </table>
          <% end -%><!-- end form -->
        </div><!-- end div.file_upload -->

      <% if @csv_schedules.blank? %>
              CSV記述例 <br />
        <div class="sample">
          <textarea>
"プロジェクトコード","プロジェクト","作業工程コード","作業工程","日付","開始時間","終了時間","自動反映処理フラグ","備考","参加者コード","参加者"
"T001",プロジェクト1,"S001","作業1","2013/7/5","8:30","17:15","備考欄です。","0","wittaro","ワコム太郎"
"T002","プロジェクト2","S002","作業2","2013/7/11","8:30","17:15","1","","wittaro:withanako","ワコム太郎:ワコム花子"</textarea>
        </div>

      <font color="crimson">* は必須項目。</font>
        <div class="sample">
          <table border="1" class="tablesorter">
            <tbody>
              <tr class="month_header">
                <td align="center">項目</td>
                <td align="center">説明</td>
              </tr>
              <tr>
                <td><font color="crimson">*</font> プロジェクトコード</td>
                <td>プロジェクト管理に確認可能なプロジェクトごとのコード。半角英数。</td>
              </tr>
              <tr>
                <td>プロジェクト</td>
                <td>プロジェクト管理から確認可能なプロジェクトの名称。</td>
              </tr>
              <tr>
                <td>作業工程コード</td>
                <td>プロジェクト管理の工数部分に記述されている工程コード。半角英数。</td>
              </tr>
              <tr>
                <td>作業工程</td>
                <td>プロジェクト管理の工数部分に記述されている工程名。</td>
              </tr>
              <tr>
                <td><font color="crimson">*</font> 日付</td>
                <td>作業の日付。 YYYY/MM/DD</td>
              </tr>
              <tr>
                <td><font color="crimson">*</font> 開始時間</td>
                <td>作業の開始時間。 HH:MM</td>
              </tr>
              <tr>
                <td><font color="crimson">*</font> 終了時間</td>
                <td>作業の終了時間。 HH:MM</td>
              </tr>
              <tr>
                <td><font color="crimson">*</font> 自動反映処理フラグ</td>
                <td>自動反映の有無　有=1, 無=0</td>
              </tr>
              <tr>
                <td>備考</td>
                <td>その他特筆すべき事項。</td>
              </tr>
              <tr>
                <td><font color="crimson">*</font> 参加者コード</td>
                <td>参加者コード。複数人の場合は :で区切る。</td>
              </tr>
              <tr>
                <td>参加者</td>
                <td>参加者の名前。複数人の場合は :で区切る。</td>
              </tr>
            </tbody>  
          </table>
        </div>
      <% end %>

        <div class="mul_list">
          <table border="1" class="tablesorter">
            <tbody>
              <% pre_schedule = nil -%>
              <% @csv_schedules.each do |schedule| -%>
                <% if pre_schedule.nil? || pre_schedule.schedule_date.year != schedule.schedule_date.year || 
                  pre_schedule.schedule_date.month != schedule.schedule_date.month %>
                  <tr class="month_header">
                    <td scope="col" class="column1">
                      <%=  l(schedule.schedule_date, :format => :local_date5) %>
                    </td>
                    <td scope="col" class="column2">
                      <%= t('label.schedule_reflection.title.project_no') %>
                    </td>
                    <td scope="col" class="column3">
                      <%= t('activerecord.attributes.project.name') %>
                    </td>
                    <td scope="col" class="column4">
                      <%= t('activerecord.models.work_type') %>
                    </td>
                    <td scope="col" class="column5">
                      <%= t('label.schedule_reflection.title.plan_time') %>
                    </td>
                    <td scope="col" class="column6">
                      <%= t('activerecord.attributes.schedule.auto_reflect') %>
                    </td>
                    <td scope="col" class="column7">
                      <%= t('label.schedule_reflection.select.member') %>
                    </td>
                    <td scope="col" class="column8">
                      <%= t('activerecord.attributes.schedule.notes') %>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <td>
                    <%= l(schedule.schedule_date) %>
                  </td>
                  <td>
                    <%= schedule.project.project_code %>
                  </td>
                  <td>
                    <%= schedule.project.name %>
                  </td>
                  <td>
                    <%= schedule.work_type_name %>
                  </td>
                  <td>
                    <%= format_plan_date(schedule.start_at, schedule.end_at) %>
                  </td>
                  <td>
                    <%= format_auto_reflect(schedule.auto_reflect) %>
                  </td>
                  <td>
                    <%= csv_schedule_member_list(schedule) %>
                  </td>
                  <td>
                    <%= schedule.notes %>
                  </td>
                </tr>
                <% pre_schedule = schedule %>
              <% end %>
            </tbody>
          </table>
        </div><!-- /.pjList -->
        <div>
          <% if @csv_schedules.length > 0 %>
            <div class="button">
              <ul class="utilityNav">
                <li>
                  <%= link_to t('web-app-theme.actual_data_create'),
                    actual_data_create_schedule_csv_schedules_path,
                    { confirm: t('common_label.actual_data_confirm'), method: :put} %>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      </div><!-- /.inner -->
    </section><!-- /#content -->
