# encoding: utf-8

<% render_main_header -%>
<%- content_for(:header) do -%>
  <%= stylesheet_link_tag 'historic_data' %>
<%- end -%>
    <nav id="subNav">
      <div class="inner">
       <ul id="localNav">
          <li>
            <%= link_to "#{t('web-app-theme.list', :default => 'List')}", historic_historic_data_path %>
          </li>
          <li class="current">
            <%= link_to "#{t('label.historic_reflection.label.show_detail', :default => 'Detail')}", 
              detail_historic_historic_data_path(user_id: @detail_info ? @detail_info[:user].id : '', search: params[:search]) %>
          </li>
        </ul>
      </div><!-- /.inner -->
    </nav><!-- /#subNav -->

    <section id="content">
      <div class="inner">
        <div class="flash">
          <% flash.each do |type, message| -%>
            <div class="message <%= type %>">
              <p><%= message %></p>
            </div>
          <% end -%>
        </div>
        
        <header class="pageHeader">
          <h1><%= @detail_info ? @detail_info[:user].name : ''  %></h1>
        </header>
        
        <div class="dataSearch">
          <%= form_for :search, :url => {:action => :detail}, :option => {:class => 'form'}, :method => :get do |f| %>
            <table style="width: 100%">
              <tr>
                <td style='width: 20%'>
                  <%= hidden_field_tag 'user_id', params[:user_id] %>
                  <div class="condition">
                    <label for="cond1"><%= t('label.common.start_at') %>:&nbsp;&nbsp;</label>
                    <%= select_year Date.civil(params[:search][:start_at][:year].to_i), :prefix => 'search[start_at]',
                      :start_year => Date.today.year-SELECT_YEAR_INTERVAL, :end_year => Date.today.year+SELECT_YEAR_INTERVAL %>
                    <%= t('datetime.prompts.year') %>
                    <%= select_month Date.civil(params[:search][:start_at][:year].to_i, params[:search][:start_at][:month].to_i),
                      :prefix => 'search[start_at]', :use_month_numbers => true %>
                    <%= t('datetime.prompts.month') %>
                  </div>
                </td>
                <td style='width: 80%'>
                  <div class="condition">
                    <label for="cond2"><%= t('label.common.end_at') %>:&nbsp;&nbsp;</label>
                    <%= select_year Date.civil(params[:search][:end_at][:year].to_i), :prefix => 'search[end_at]',
                      :start_year => Date.today.year-SELECT_YEAR_INTERVAL, :end_year => Date.today.year+SELECT_YEAR_INTERVAL %>
                    <%= t('datetime.prompts.year') %>
                    <%= select_month Date.civil(params[:search][:end_at][:year].to_i, params[:search][:end_at][:month].to_i),
                      :prefix => 'search[end_at]', :use_month_numbers => true %>
                    <%= t('datetime.prompts.month') %>
                  </div>
                  <div class="button">
                    <input type="submit" accesskey="s" name="submit" value="<%= t('web-app-theme.select') %>" />
                  </div>
                </td>
              </tr>
            </table>
          <% end %>
        </div><!-- /.dataSearch -->

        <div class="list">
          <table border="1" class="tablesorter">
            <thead>
              <tr>
                <th scope="col" class="column1">
                  <%= t('label.historic_reflection.label.project_no') %>
                </th>
                <th scope="col" class="column2">
                  <%= t('activerecord.attributes.project.name') %>
                </th>
                <th scope="col" class="column3">
                  <%= t('label.historic_reflection.label.project_amount') %>
                </th>
                <th scope="col" class="column4">
                  <%= t('activerecord.attributes.prj_reflection.profit_ratio') %>
                </th>
              </tr>
            </thead>
            <tbody>
                <% @detail_info && @detail_info[:projects].each do |project| -%>
                  <tr>
                    <th scope="row">
                      <%= project.project_code %>
                    </th>
                    <td>
                      <%= project.name %>
                    </td>
                    <td>
                      <%= number_to_currency(project.order_volume, unit: '') %>
                    </td>
                    <td>
                      <%= number_to_percentage(project.prj_reflection.profit_ratio, precision: 0) %>
                    </td>
                  </tr>
                <% end -%>
            </tbody>
          </table>
        </div><!-- /.dataList -->
        <div class="button">
          <ul class="utilityNav">
            <li>
              <%= link_to t('web-app-theme.back'), historic_historic_data_path(search: params[:search]) %>
            </li>
          </ul>
        </div>
        <div style="clear:both;"></div>
        <div class="actions-bar wat-cf">
          <div class="actions">
            <%= will_paginate @detail_info[:projects] if @detail_info && @detail_info[:projects] %>
          </div>
          <div style="clear:both;"></div>
        </div>
      </div><!-- /.inner -->
    </section><!-- /#content -->
