# encoding: utf-8

<% render_main_header -%>
<%- content_for(:header) do -%>
  <%= stylesheet_link_tag "projects" %>
  <%= stylesheet_link_tag "deals" %>
<%- end -%>

    <nav id="subNav">
      <div class="inner">
        <ul id="localNav">
          <li>
            <%= link_to "#{t('web-app-theme.list', :default => 'List')}", nego_deals_path %>
          </li>
          <li>
            <%= link_to "#{t('web-app-theme.new', :default => 'New')}", new_nego_deal_path %>
          </li>
          <li class="current">
            <%= link_to "#{t('web-app-theme.show', :default => 'Show')}", nego_deal_path %>
          </li>
        </ul>
      </div><!-- /.inner -->
    </nav><!-- /#subNav -->
    
    <section id="content">
      <div class="inner">
        <div class="flash">
          <% unless flash.blank? -%>
            <% flash.each do |type, message| -%>
              <div class="message <%= type %>">
                <% if message.is_a?(Enumerable) && message.any? -%>
                  <ul>
                  <% message.each do |msg| -%>
                    <li><%= msg %></li>
                  <% end -%>
                  </ul>
                <% else -%>
                  <p><%= message %></p>
                <% end -%>
              </div>
            <% end -%>
            <% flash.clear %>
          <% end -%>
        </div>
        
        <header class="pageHeader">
          <h1><%= t('common_label.browsing_model', :model => Deal.model_name.human) %></h1>
          <% if action_name == 'show' %>
            <%= render :partial => 'nego/deals/deal_button', :locals=> {:deal => @deal } %>
          <% end %>
        </header>
        
        <div id="pageContents">
          <%= render :partial => 'nego/deals/deal_detail' %>
          <%= render :partial => 'nego/deals/deal_button', :locals=> {:deal => @deal } %>
        </div>
      </div><!-- /.inner -->
    </section><!-- /#content -->
