# encoding: utf-8

<% render_main_header -%>
<%- content_for(:header) do -%>
  <%= stylesheet_link_tag "results" %>
  <%= stylesheet_link_tag 'fullcalendar' %>
<%- end -%>

<nav id="subNav">
  <div class="inner">
    <ul id="localNav">
      <li>
        <%= link_to "#{t('web-app-theme.list', :default => 'List')}", mh_results_path %>
      </li>
      <li>
        <%= link_to "#{t('web-app-theme.new', :default => 'New')}", new_mh_result_path %>
      </li>
      <% if can_show_result_sum? %>
        <li>
          <%= link_to "#{t('label.menu.sum_by_group', :default => 'Sum By Group')}", sum_by_group_mh_results_path %>
        </li>
      <% end %>
      <li>
        <%= link_to "#{t('web-app-theme.csv_new', :default => 'CSV New')}", mh_csv_results_path %>
      </li>
      <li class="current">
        <%= link_to "#{t('web-app-theme.edit', :default => 'Edit')}", edit_mh_result_path %>
      </li>
    </ul>
  </div><!-- /.inner -->
</nav><!-- /#subNav -->

<section id="content">
  <div class="inner">
    <header class="pageHeader">
      <h1><%= t('common_label.editing_model', :model => Result.model_name.human) %></h1>
    </header>

    <div id="pageContents">
      <input id='user_id' name='user_id' type='hidden' value='<%= @result.user_id %>' >
      <%= render 'calendar_agenda' %>
      <div id="right">
        <%= form_for @result, :url => mh_result_path(@result), :html => { :class => :form } do |f| -%>
          <%= render :partial => 'form', :locals => {:f => f} %>
        <% end -%>
      </div>
    </div>
  </div><!-- /.inner -->
</section><!-- /#content -->
